<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Liste des utilisateurs</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
              <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>date de naissance</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users">
              <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td>{{user.dath_of_birth}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

