<div class="body">
  <app-header></app-header>
<div class="container">
  <div class="row" *ngIf="successmessage">
    <div class="alert alert-success" role="alert">
      {{successmessage}}
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-10">
        <h4>Liste des plats:</h4>
    </div>
      <div class="col">
        <app-plat-add [user_id]="idParam" (signal)="success($event)"></app-plat-add>
      </div>
    </div>
     <app-admin-plat-list [plats]="plats" (signal)="success($event)"></app-admin-plat-list>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-10">
        <h4>Liste des admins:</h4>
    </div>
      <div class="col">
        <app-user-add (signal)="success($event)"></app-user-add>
      </div>
    </div>
    <app-admin-user-list [users]="users" (signal)="success($event)"></app-admin-user-list>
  </div>
</div>
<app-footer></app-footer>
</div>

