.content{
  display: flex;
  justify-content: center;
  text-align: center;
}

.formContent{
  background-color: #a1d0e3;
  margin-top: 10%;
  width: 800px;
  height: 600px;
  border: thick double #32a1ce;
}
.title{
  text-align: center;
  justify-content: center;
  margin-right: 10%;
}
