

<!-- Button trigger modal -->
<form class="d-flex" role="search">
  <button class="btn btn-outline-info" type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">ajouter</button>
</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header bg-secondary">
       <h1 class="modal-title fs-5" id="staticBackdropLabel">Ajouter un utilisateur:</h1>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body" >
      <form class="row g-3" (ngSubmit)="userCreate()" enctype="multipart/form-data">
        <div class="col-md-6">
          <label for="inputNom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="inputNom" name="nom" [(ngModel)]="user.nom" required>
        </div>
        <div class="col-md-6">
          <label for="inputPrenom" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="inputPrenom" name="prenom" [(ngModel)]="user.prenom" required>
        </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="user.email" required>
        </div>
        <div class="col-md-6">
          <label for="inputDateNaissance" class="form-label">Date de naissance</label>
          <input type="date" class="form-control" id="inputDateNaissance" name="dath_of_birth" [(ngModel)]="user.dath_of_birth" required>
        </div>
        <div class="col-md-6">
          <label for="inputRole" class="form-label">Role</label>
          <input type="text" class="form-control" id="inputRole" name="role" [(ngModel)]="user.role" required>
        </div>
        <div class="col-md-6">
          <label for="inputDateImage" class="form-label">photo de profil</label>
          <input type="file" class="form-control" id="inputDateImage" name="image" (change)="onFileSlected($event)" required>
        </div>
        <div class="col-md-6">
          <label for="inputPassword" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="inputPassword" name="password" [(ngModel)]="user.password" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
      </form>
     </div>
   </div>
 </div>
</div>
