<!-- Button trigger modal -->
<form class="d-flex" role="search">
  <input class="form-control me-2" type="search" [(ngModel)]="slug" name="search" placeholder="Recherche" aria-label="Search">
  <button class="btn btn-outline-info" type="submit" (click)="search()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">recherche</button>
</form>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">resultat de: "{{slug}}"</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let plat of plats" >
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/assets/images/logoT.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{plat.nom}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
               <div class="row">
                <div class="col">
                 <p class="card-text"><small class="text-body-secondary">Duré:{{plat.temps}}</small></p>
                </div>
                <div class="col">
                  <p class="card-text"><small class="text-body-secondary">Difficultés:{{plat.difficultes}}</small></p>
                </div>
               </div>
               <div class="card-body text-center">
                <a [routerLink]="['/plat', plat.id]" data-bs-dismiss="modal" class="btn btn-outline-info card-link" >Recette</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
