<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">detail</th>
      <th scope="col">modifier</th>
      <th scope="col">supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plat of plats" >
      <th scope="row">{{plat.id}}</th>
      <td>{{plat.nom}}</td>
      <td><a [routerLink]="" class="btn btn-outline-info">detail</a></td>
      <td><a [routerLink]="" class="btn btn-outline-warning">modifier</a></td>
      <td><a class="btn btn-outline-danger" href="#" role="button">supprimer</a></td>
    </tr>
  </tbody>
</table>
